// styles.scss

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

p{margin: 0 0 20px 0; line-height: 200%;}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

#social{
	position: absolute;
	top: 0; left: 0;
	padding: 10px;
	z-index: 9999;
}

#social img{
	margin: 0 5px 0 0;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
}

#social #facebook{
	background: #256299;
}

#social #twitter{
	background: #378bb7;
}

#social #instagram{
	background: #246485;
}

/* vertical-centered text */
.text-vcenter {
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	  max-width: 100%;
}
.text-vcenter h1 {
  color: #fff;
  font-size: 2.7em;
  font-weight: 700;
  max-width: 100%;
  margin: 0px auto ;
  padding: 0 0 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}


/* additional sections */
#home {
  background: url(../images/header_bg.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo{margin: 0 auto 50px;}

#about #top-line {
	width: 270px;
	margin: 0;
	padding: 20px 0;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 150%;
	text-transform: uppercase;
	color: #286191;
	border-top: 4px solid #286191;
}

#services {
  color: #1e2f3e;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#services h2{
  font-size: 2.7em;
  font-weight: 700;
  width: 550px;
  max-width: 100%;
  margin: 70px 0 45px ;
  padding: 0 0 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #1e2f3e;
}

#information {
  background: url(../images/clients_bg.jpg) no-repeat center center fixed; 

}
#information .panel {
  opacity: 0.85;
}
#information .client-logo img{
	margin:  0 0 20px;
	background: #213241;
	max-width: 100%;
}

#information h2{
  color: #fff;
  font-size: 2.7em;
  font-weight: 700;
  width: 312px;
  max-width: 100%;
  margin: 70px auto 85px ;
  padding: 0 0 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}
#contact-form{margin: 85px 0 0 0;}

#contact-form input[type="text"], #contact-form textarea{
	width: 100%;
	background: #f2f2f3;
	border-top: 0;
	border-right: 0;
	border-bottom: 3px solid #c9d7e3;
	border-left: 0;
	margin: 0 0 15px 0;
	padding: 10px;
}
#contact-form input[type="submit"]{
	border: 0;
	width: 100%;
	padding: 10px;
	background: #286191;
	color: #fff;
}
footer {
  background: #0d171f;
  padding: 30px 0;
  color: #fff;
}

@media (min-width: 767px) {
	.text-vcenter h1 {
	  width: 600px;
	}
}


  /* ============================================================================================== 
This copyright notice must be kept untouched in the stylesheet at all times.
The original version of this stylesheet and the associated (x)html 
is available at http://www.script-tutorials.com/bootstrap-one-page-template-with-parallax-effect/
Copyright (c) Script Tutorials. All rights reserved.
This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
================================================================================================= */